* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  font-family: 'Pacifico', cursive;
  background-color: rgb(84, 105, 136);
}

.navbar-brand {
  color: #f6f6f6;
}

.jumbotron {
  height: 75vh;
}

.card-img {
  width: 15vw;
  height: 15vw;
}

footer {
  height: 8vh;
  color: #f6f6f6;
  background-color: rgb(84, 105, 136);
}