{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="col-12 d-flex justify-content-center align-content-cente my-5  ">
    <div class="col-6 my-5">
        <div class="my-4">
            <h2>投稿</h2>
        </div>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formpost my-2">
                {% render_field form.title class="form-control" placeholder="タイトルを入力" %}
            </div>
            <div class="formpost my-2">
                {{ form.image }}
            </div>
            <div class="formpost mt-2 mb-5">
                {% render_field form.content class="form-control" placeholder="本文を入力" %}
            </div>
            <button class="btn btn-warning mr-3 text-white" type="submit">投稿する</button>
            <a class="btn btn-secondary" href="{% url 'index' %}">戻る</a>
        </form>
    </div>
    </div>

{% endblock %}